.status{
  width: 225px;
  height: 125px;
  background: rgba(0, 255, 174, 0.737);
  border-radius: 1rem;
  text-align: center;
  position: initial;
  color: white;
  border-color: transparent;
  cursor: pointer;
  font-size:x-large;
  box-shadow: darkgreen;
  margin-top: 1rem;



  

}

.button{
  background-color: transparent;
  color: transparent;
  border-color: transparent;
}
.status:hover{
  background: rgba(2, 239, 164, 0.729);
  color: white;


}
.main-status{
  position: relative;
}
